    <div class="pdf-page-header pdf-page-header">
        <%= wicked_pdf_image_tag("binders.png", alt: "binders", class: "float-right spacing", style: "height:350px;") %>
        <h4 class="text-info"><%= "#{idx + 1}." %> Creating a curated, mobile knowledge base</h3>

        <p>In many companies, the installation and servicing specifications are found in a series of disparate documents, part lists, exploded diagrams, databases and product images totaling hundreds of pages. To make matters even more challenging, the documentation and data is unintentionally locked up in corporate silos that are difficult, if not impossible, for field technicians to access especially when onsite with a customer.</p>

        <p>More and more service organizations are realizing that, in order to stay in the game, they must provide their field service technicians mobile access to the knowledge they need while on site. This is why <a href="http://www.aberdeen.com/research/12665/12665-RR-field-service-customer.aspx/content.aspx" target="_blank">Aberdeen Group</a> reports that more than half of &quot;best-in-class&quot; field service organizations have made investing in mobile tools a priority in order to improve field service technicians&apos; access to knowledge. In addition, a survey by The Service Council also found that 36% of field service technicians said access to service manuals was very important, while another 27% said that knowledge base access would increase efficiency and reduce time on site. That means that 63% of field service technicians said they need better access to knowledge. </p>

        <p>AnswersAnywhere is the only solution that takes an organization&apos;s existing knowledge and consolidates it into an optimized, interactive, online/offline, mobilized &quot;Single Source of Truth&quot; for field service technicians.</p>
        
      <div class="col-10 offset-1" style="page-break-inside: avoid;">
        <hr class="teal-line">
        <p class="teal">63% of field service technicians said they need better access to knowledge in order to do their job more efficiently. -The Service Council</p>
        <hr class="teal-line">
      </div>
    </div>