    <div class="row margin-top-buffer pdf-page-header" style="page-break-inside: avoid;">
      <div class="col-12">
        <div>
          <h4 class="text-info"><%= "#{idx + 1}." %> Increase first-time fix rates</h4>
        </div>
        <p>Improving first-time visit resolution rates is among one of the most important and most frustrating tasks for field service organizations. However, this doesn't have to be the case. You may already be aware that <a href="http://v1.aberdeen.com/launch/report/research_report/12665-RR-field-service-customer.asp" target="_blank">Aberdeen Group</a> names best-in-class field service organizations as those that achieve an impressive 90% first time fix rate. But did you know that The Aberdeen Group also estimates 19% of first-time fixes are missed because the technician did not have access to the correct technical information?</p>

        <p>AnswersAnywhere directly and positively impacts this every-important field service metric by providing field teams with mobile, offline access to the necessary break/fix and parts information on the first visit, while also eliminating the need for return visits due to incorrect parts orders.</p>
      </div>
    </div>

    <div class="col-10 offset-1" style="page-break-inside: avoid;">
      <hr class="teal-line">
      <p class="teal">19% of first-time fixes are missed because the technician did not have access to the correct technical information. -Aberdeen Group</p>
      <hr class="teal-line">
    </div>
  </div>