<div class="row margin-top-buffer pdf-page-header">
  <div class="col-12">
    <div class="page-header">
      <%= wicked_pdf_image_tag("supervisor.png", alt: "supervisor", class: "float-left spacing", style: "height:200px;") %>
      <h4 class="text-info"><%= "#{idx + 1}." %> Happier customers</h4>
    </div>
    <p>At 61%, the <a href="http://v1.aberdeen.com/launch/report/research_report/12122-RR-First-Time-Field.asp" target="_blank">number one complaint</a> from customers is that the technician didn't resolve the issue on the first visit. Think about that - 61% of customer complaints are directly related to an organization's first time fix rates! It's no wonder that <a href="http://v1.aberdeen.com/launch/report/research_report/12665-RR-field-service-customer.asp" target="_blank">Aberdeen Group</a> names best-in-class field service organizations as those with a 90% first time fix rate. Aberdeen Group has found that 19% of first-time fixes are missed due to lack of technical and parts information at the point of service.</p>

    <p>In order to increase customer satisfaction, service organizations must increase first time fix rates. In order to increases first time fix rates, organizations must give technicians the technical and parts knowledge they need to get the job done the first time. AnswersAnywhere is the only mobile app that provides technicians with continuously optimized, online/offline access to the critical, decision-making information they need to complete the fix the first time. </p>
  </div>
</div>
