<div class="row margin-top-buffer pdf-page-header">
    <div class="col-12">
      <div style="page-break-inside: avoid;">
	    <div>
	    	<%= wicked_pdf_image_tag("technician.png", alt: "technician", class: "float-right spacing", style: "height:200px;") %>
	        <h4 class="text-info"><%= "#{idx + 1}." %> Reduce incorrect parts ordering</h4>
	    </div>
	      <p>Incorrect parts can be a costly error in field service organizations, leading to more return visits, higher service costs due to restocking and return fees, and unhappy customers. Aberdeen Group <a href="http://www.clicksoftware.com/globalassets/aasite_assets/documents/analyst-reports/FS_2016_Strengthen%20_the_team.pdf" target="_blank">reports</a> that incorrect parts orders account for 29% of failed service visits. However, it is preventable!</p> 
	  </div>
	  <p>By providing field service technicians with instant access to technical manuals, part imagery, interactive exploded views, and parts codes, AnswersAnywhere ensures much more accurate parts ordering, practically eliminating incorrect parts orders.</p>
    </div>
  </div>