  <div class="row margin-top-buffer pdf-page-header">
    <div class="col-12">
      <div>
        <h4 class="text-info"><%= "#{idx + 1}." %> Increase field service calls</h4>
      </div>
      <p>Field service technicians spend an average of 14% of their time researching the information they need to do their jobs, according to <a href="http://www.aberdeen.com/research/12031/12031-rr-knowledge-management-service/content.aspx" target="_blank">Aberdeen Group</a>. In addition, TSIA's 2015 State of Knowledge Management report found that, on average, technicians access 13 separate sources of information to solve customer issues. Imagine the time technicians could save on site by simply having all the information they needed right at their fingertips. It is a mobile, online/offline and up-to-date library of all the knowledge your technicians need. </p>
    </div>
  </div>

      <div class="col-10 offset-1 pdf-page-header" style="page-break-inside: avoid;">
        <hr class="teal-line">
        <p class="teal">Field service technicians access an average of 13 separate sources of information while on site to solve customer issues. <br>-TSIA State of Knowledge Management</p>
        <hr class="teal-line">
      </div>
      
      <p class="pdf-page-header">No more searching through cumbersome service manuals or scrolling through numerous pages of pdfs. No more time wasted sorting through disparate sources of information, trying to piece together the answers they need. AnswersAnywhere provides just that! Customers tell us AnswersAnywhere has reduced time on site by more than 15%. And less time on site means technicians can fit in even more calls per week. </p>
    </div>